{{ define "main" }}

<div class="index-hero">
  <div class="intro width-container">
    <h1>Responsible IT Amsterdam</h1>
    <b> Het lectoraat Responsible IT onderzoekt digitale technologie die goed is voor de mens, de maatschappij en de planeet. Het lectoraat werkt aan een grote uitdaging: betere digitale technologie. </b>
  </div>
    
</div>

<div class="width-container">
  <div class="grid-row grid-2-1">
    <main id="main">
      {{ .Content }}
    </main>
  </div>
</div>
<script src="/js/filter.js"></script>

{{ end }}