*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    transition: font-size 0.3s ease, filter 0.3s;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

main {
    scroll-margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh;
}

ul,
ol,
menu {
    list-style-type: none;
    padding-left: 0;
}

img,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}
b{
    font-size: 1.50rem;
}

p,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

cite {
    font-style: normal;
    font-weight: 700;
}
h1{
    color: var(--orange);
}
h2{
    color: var(--light-blue);
}

::selection {
    background-color: var(--yellow);
    color: var(--black);
}