*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    transition: font-size 0.3s ease, filter 0.3s;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

main {
    scroll-margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh;
}

ul,
ol,
menu {
    list-style-type: none;
    padding-left: 0;
}

img,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

cite {
    font-style: normal;
    font-weight: 700;
}

::selection {
    background-color: var(--yellow);
    color: var(--black);
}

:root {
    --black: #0b0c0c;
    --black-2: #121414;
    --dark-grey: #2c2f30;
    --grey: #505a5f;
    --light-grey: #f3f2f1;
    --white: #fff;
    --yellow: #fd0;
    --orange: #f3ad16;
    --red: #d4351c;
    --purple: #564a97;
    --hva-purple: #25167a;
    --blue: #003078;
    --light-blue: #1d70b8;
    --turquoise: #19d4ac;
    --green: #1eab14;

    --subtle-shadow: 0 5px 15px 3px rgb(0 0 0 / 5%);
    --subtle-border: var(--light-grey);

    --text-color: var(--black);
    --link-color: var(--light-blue);
    --link-visited-color: var(--hva-purple);
    --link-hover-color: var(--blue);
    --link-focus-bg-color: var(--white);
    --link-focus-color: var(--black);
    --background-color: var(--white);
    --filter-button-color: #566072;
    --menu-button-hover: #ebeae9;

    /* --filter-button: var(--purple); */
}

