:root {
    --black: #0b0c0c;
    --black-2: #121414;
    --dark-grey: #2c2f30;
    --grey: #505a5f;
    --light-grey: #f3f2f1;
    --white: #fff;
    --yellow: #fd0;
    --orange: #D54300;
    --red: #d4351c;
    --purple: #564a97;
    --hva-purple: #25167a;
    --blue: #003078;
    --light-blue: #185B96    ;
    --turquoise: #19d4ac;
    --green: #1eab14;

    --subtle-shadow: 0 5px 15px 3px rgb(0 0 0 / 5%);
    --subtle-border: var(--light-grey);

    --text-color: var(--black);
    --link-color: var(--light-blue);
    --link-visited-color: var(--hva-purple);
    --link-hover-color: var(--blue);
    --link-focus-bg-color: var(--white);
    --link-focus-color: var(--black);
    --background-color: var(--white);
    --filter-button-color: #566072;
    --menu-button-hover: #ebeae9;

    /* --filter-button: var(--purple); */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.heading-xl {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 2.5rem 0 1rem;
}

.heading-l {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 2rem 0 1rem;
}

.heading-m {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 1.5rem 0 1rem;
}

.heading-s {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 1.25rem 0 1rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.text-small {
    font-size: 0.875rem;
}

@media (min-width: 40em) {
    .heading-xl {
        font-size: 3rem;

        margin: 3rem 0 2rem;
    }

    .heading-l {
        font-size: 2.25rem;

        margin: 2.5rem 0 1.5rem;
    }

    .heading-m {
        font-size: 1.5rem;

        margin: 2rem 0 1.5rem;
    }

    .heading-s {
        font-size: 1.19rem;

        margin: 1.5rem 0 1rem;
    }

    p {
        font-size: 1.19rem;
        margin-bottom: 1.19rem;
    }

    .text-small {
        font-size: 1rem;
    }
}

