<div class="filter-container">
    <!-- <h2 class="heading-m">Filters</h2> -->
    <button class="menu-button filter-menu-button">Filters</button>
    <div class="filter-menu">
        <h2 class="heading-s"> {{ i18n "filter.topic" . }}</h2>
        <menu>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="AI" name="filter" value="AI"><label
                    class="filter-button" for="AI">Artificial Intelligence</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="data" name="filter" value="data"><label
                    class="filter-button" for="data">Data</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="design" name="filter"
                    value="design"><label class="filter-button" for="design">Design</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="software-development"
                    name="filter" value="software-development"><label class="filter-button"
                    for="software-development">Software Development</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="Cybersecurity" name="filter"
                    value="Cybersecurity"><label class="filter-button" for="Cybersecurity">Cybersecurity</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="quantum" name="filter"
                    value="quantum"><label class="filter-button" for="quantum">Quantum</label></li>
        </menu>
        <h2 class="heading-s"> {{ i18n "filter.theme" . }}</h2>
        <menu>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="fair" name="filter" value="fair"><label
                    class="filter-button" for="fair">Fair</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="transparent" name="filter"
                    value="transparent"><label class="filter-button" for="transparent">Transparent</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="robust" name="filter"
                    value="robust"><label class="filter-button" for="robust">Robust</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="inclusive" name="filter"
                    value="inclusive"><label class="filter-button" for="inclusive">Inclusive</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="sustainable" name="filter"
                    value="sustainable"><label class="filter-button" for="sustainable">Sustainable</label></li>
        </menu>
        <h2 class="heading-s"> {{ i18n "filter.type" . }}</h2>
        <menu>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="reports" name="filter"
                    value="reports"><label class="filter-button" for="reports">Reports</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="papers" name="filter"
                    value="papers"><label class="filter-button" for="papers">Papers</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="tools" name="filter"
                    value="tools"><label class="filter-button" for="tools">Tools</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="prototypes" name="filter"
                    value="prototypes"><label class="filter-button" for="prototypes">Prototypes</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="Articles" name="filter"
                    value="Articles"><label class="filter-button" for="Articles">Articles</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="art" name="filter" value="art"><label
                    class="filter-button" for="art">Art</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="code" name="filter" value="code"><label
                    class="filter-button" for="code">Code</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="presentations" name="filter"
                    value="presentations"><label class="filter-button" for="presentations">Presentations</label></li>
            <li class="filter"><input class="visually-hidden" type="checkbox" id="video" name="video"
                    value="video"><label class="filter-button" for="video">Video</label></li>
        </menu>
    </div>
</div>
<script defer language="javascript" type="text/javascript"  src="{{ "/js/filter.js" | urlize | relURL }}"></script>
