<a href="#main" class="skip-to-content-link">Skip to main content</a>
<header class="main-header">
    <div class="header-container">
        <a class="header-logo-link" href="/index.html"><img class="header-logo" src="/img/logo.svg"
                alt="Hogeschool van Amsterdam logo" /></a>
                {{- partial "nav.html" . -}}

        <button id="nav-menu-button" class="nav-button menu-button" aria-label="open or close main navigation">Menu</button>
        <ul class="accessibility-list">
            <li class="header-nav-item">
                <button class="menu-button accessibility-button" aria-label="open or close accessibility controls menu">
                    {{ i18n "accessibilityControls" . }}

                </button>
                <menu class="accessibility-dropdown">
            <li>
                <button class="accessibility-toggle"> {{ i18n "accessibilityMenu.increaseFont" . }} <span
                        aria-hidden="true">+</span></button>
            </li>
            <li>
                <button class="accessibility-toggle">{{ i18n "accessibilityMenu.decreaseFont" . }}<span
                        aria-hidden="true">-</span></button>
            </li>
            <li>
                <button class="accessibility-toggle">
                    {{ i18n "accessibilityMenu.darkTheme" . }}<span class="accessibility-toggle-checkbox"
                        aria-hidden="true"></span>
                </button>
            </li>
            <li>
                <button class="accessibility-toggle">
                    {{ i18n "accessibilityMenu.grayScale" . }}<span class="accessibility-toggle-checkbox"
                        aria-hidden="true"></span>
                </button>
            </li>
            <li>
                <button class="accessibility-toggle">
                    {{ i18n "accessibilityMenu.contrast" . }}<span class="accessibility-toggle-checkbox"
                        aria-hidden="true"></span>
                </button>
            </li>
            <li class="dropdown-item">
                <button class="accessibility-toggle">
                    {{ i18n "accessibilityMenu.artwork" . }}<span class="accessibility-toggle-checkbox"
                        aria-hidden="true"></span>
                </button>
            </li>
            <li class="dropdown-item">
                <button class="accessibility-toggle">
                    {{ i18n "accessibilityMenu.motion" . }}<span class="accessibility-toggle-checkbox"
                        aria-hidden="true"></span>
                </button>
            </li>
            </menu>
            </li>
        </ul>

    </div>
</header>