*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    transition: font-size 0.3s ease, filter 0.3s;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

main {
    scroll-margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh;
}

ul,
ol,
menu {
    list-style-type: none;
    padding-left: 0;
}

img,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

cite {
    font-style: normal;
    font-weight: 700;
}

::selection {
    background-color: var(--yellow);
    color: var(--black);
}

:root {
    --black: #0b0c0c;
    --black-2: #121414;
    --dark-grey: #2c2f30;
    --grey: #505a5f;
    --light-grey: #f3f2f1;
    --white: #fff;
    --yellow: #fd0;
    --orange: #f3ad16;
    --red: #d4351c;
    --purple: #564a97;
    --hva-purple: #25167a;
    --blue: #003078;
    --light-blue: #1d70b8;
    --turquoise: #19d4ac;
    --green: #1eab14;

    --subtle-shadow: 0 5px 15px 3px rgb(0 0 0 / 5%);
    --subtle-border: var(--light-grey);

    --text-color: var(--black);
    --link-color: var(--light-blue);
    --link-visited-color: var(--hva-purple);
    --link-hover-color: var(--blue);
    --link-focus-bg-color: var(--white);
    --link-focus-color: var(--black);
    --background-color: var(--white);
    --filter-button-color: #566072;
    --menu-button-hover: #ebeae9;

    /* --filter-button: var(--purple); */
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.heading-xl {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 2.5rem 0 1rem;
}

.heading-l {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 2rem 0 1rem;
}

.heading-m {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 1.5rem 0 1rem;
}

.heading-s {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 1.25rem 0 1rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.text-small {
    font-size: 0.875rem;
}

@media (min-width: 40em) {
    .heading-xl {
        font-size: 3rem;

        margin: 3rem 0 2rem;
    }

    .heading-l {
        font-size: 2.25rem;

        margin: 2.5rem 0 1.5rem;
    }

    .heading-m {
        font-size: 1.5rem;

        margin: 2rem 0 1.5rem;
    }

    .heading-s {
        font-size: 1.19rem;

        margin: 1.5rem 0 1rem;
    }

    p {
        font-size: 1.19rem;
        margin-bottom: 1.19rem;
    }

    .text-small {
        font-size: 1rem;
    }
}

:root {
    --black: #0b0c0c;
    --black-2: #121414;
    --dark-grey: #2c2f30;
    --grey: #505a5f;
    --light-grey: #f3f2f1;
    --white: #fff;
    --yellow: #fd0;
    --orange: #f3ad16;
    --red: #d4351c;
    --purple: #564a97;
    --hva-purple: #25167a;
    --blue: #003078;
    --light-blue: #1d70b8;
    --turquoise: #19d4ac;
    --green: #1eab14;

    --subtle-shadow: 0 5px 15px 3px rgb(0 0 0 / 5%);
    --subtle-border: var(--light-grey);

    --text-color: var(--black);
    --link-color: var(--light-blue);
    --link-visited-color: var(--hva-purple);
    --link-hover-color: var(--blue);
    --link-focus-bg-color: var(--white);
    --link-focus-color: var(--black);
    --background-color: var(--white);
    --filter-button-color: #566072;
    --menu-button-hover: #ebeae9;

    /* --filter-button: var(--purple); */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.heading-xl {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 2.5rem 0 1rem;
}

.heading-l {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 2rem 0 1rem;
}

.heading-m {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 1.5rem 0 1rem;
}

.heading-s {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);

    margin: 1.25rem 0 1rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.text-small {
    font-size: 0.875rem;
}

@media (min-width: 40em) {
    .heading-xl {
        font-size: 3rem;

        margin: 3rem 0 2rem;
    }

    .heading-l {
        font-size: 2.25rem;

        margin: 2.5rem 0 1.5rem;
    }

    .heading-m {
        font-size: 1.5rem;

        margin: 2rem 0 1.5rem;
    }

    .heading-s {
        font-size: 1.19rem;

        margin: 1.5rem 0 1rem;
    }

    p {
        font-size: 1.19rem;
        margin-bottom: 1.19rem;
    }

    .text-small {
        font-size: 1rem;
    }
}


.accessibility-button {
    width: 100%;
}

.accessibility-dropdown {
    margin: 0;
    display: none;
    border-radius: 0.5rem;
}

.menu-button-opened + .accessibility-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.accessibility-dropdown li {
    width: 100%;
    margin-top: 0.5rem;
}

.accessibility-toggle {
    background: transparent;
    color: var(--text-color);
    box-shadow: none;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding: 0.5em 0.75em;
}

.accessibility-toggle:focus {
    outline-offset: -1px;
}

.accessibility-toggle span {
    width: 1.34rem;
    pointer-events: none;
    border-radius: 0.3rem;
}

.accessibility-toggle span:not(.accessibility-toggle-checkbox) {
    text-align: center;
    font-weight: 400;
    font-size: 150%;
    line-height: 100%;
}

.accessibility-toggle-checkbox {
    position: relative;
    border: 2px solid var(--text-color);
}

.accessibility-toggle-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.8rem;
    height: 0.4rem;
    transform: translate(-50%, -70%) rotate(-45deg);
    border: solid;
    border-width: 0 0 3px 3px;
    border-top-color: var(--text-color);
    opacity: 0;
    transition: opacity 0.2s ease;
}

@media screen and (min-width: 40rem) {
    .accessibility-toggle span {
        width: 1.625rem;
    }

    .accessibility-toggle-checkbox::after {
        width: 1rem;
        height: 0.5rem;
    }
}

@media screen and (min-width: 73rem) {
    .menu-button-opened + .accessibility-dropdown {
        width: 100%;
        position: absolute;
        top: 3.75rem;
        right: 0;
        background-color: var(--background-color);
        box-shadow: var(--subtle-shadow);
        border: 2px solid var(--subtle-border);
    }

    .accessibility-dropdown li {
        margin: 0;
    }

    .accessibility-toggle {
        text-align: left;
        padding: 1rem;
    }
}

[data-darktheme='true'] {
    --text-color: var(--white);
    --background-color: var(--black-2);
    --purple: #7c77ff;
    --link-color: #1d9bf0;
    /* --link-visited-color: #7c77ff; */
    --link-hover-color: #1d9bf0;
    --link-focus-bg-color: var(--black);
    --link-focus-color: var(--white);
    /* --subtle-shadow: 0 -5px 15px 3px rgb(255 255 255 / 2.5%); */
    --subtle-shadow: none;
    --subtle-border: var(--dark-grey);
    /* --filter-button: var(--hva-purple); */
    --filter-button-color: #b1bac8;
    --menu-button-hover: var(--black-2);
}

[data-darktheme='true'] .main-header,
[data-darktheme='true'] .main-footer {
    --background-color: var(--black);
    --nav-link-color: var(--white);
}

[data-darktheme='true'] .header-logo,
[data-darktheme='true'] .footer-image {
    filter: invert(1);
}

[data-grayscale='true'] {
    filter: grayscale(1);
}
[data-highcontrast='true'] {
    filter: contrast(1.5);
}

[data-grayscale='true'][data-highcontrast='true'] {
    filter: grayscale(1) contrast(1.5);
}

[data-hideartwork='true'] img:not(.header-logo, .footer-image) {
    display: none;
}

[data-hideartwork='true'] .hero-artwork {
    background-image: none !important;
    animation: none;
}

[data-reducemotion='true'],
[data-reducemotion='true'] *,
[data-reducemotion='true'] *::before,
[data-reducemotion='true'] *::after {
    transition: none !important;
    animation-play-state: paused !important;
}

/* Check checkboxes if toggle is selected */
[data-darktheme='true'] .accessibility-dropdown > li:nth-of-type(3) .accessibility-toggle-checkbox::after,
[data-grayscale='true'] .accessibility-dropdown > li:nth-of-type(4) .accessibility-toggle-checkbox::after,
[data-highcontrast='true'] .accessibility-dropdown > li:nth-of-type(5) .accessibility-toggle-checkbox::after,
[data-hideartwork='true'] .accessibility-dropdown > li:nth-of-type(6) .accessibility-toggle-checkbox::after,
[data-reducemotion='true'] .accessibility-dropdown > li:nth-of-type(7) .accessibility-toggle-checkbox::after {
    opacity: 1;
}

/* Remove transitions & animation when reduced motion is prefered */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        transition: none !important;
        animation-play-state: paused !important;
    }
}

details > summary {
    cursor: pointer;
    color: var(--link-color);
    list-style-type: none;
}

details > summary::after {
    content: ' more';
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary:hover {
    color: var(--text-color);
}

details > summary:focus {
    outline: 3px solid var(--link-focus-color);
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

details[open] > summary::after {
    content: ' less';
}

.accordion-marker {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-top: -3px;
    transform: rotate(180deg);
}

.accordion-marker::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0.3125rem;
    left: 0.375rem;
    width: 0.375rem;
    height: 0.375rem;
    transform: rotate(-45deg);
    border-top: 0.125rem solid;
    border-right: 0.125rem solid;
}

details > summary:hover .accordion-marker {
    color: var(--background-color);
    background: var(--text-color);
}

details[open] .accordion-marker {
    transform: rotate(0deg);
}

@media (min-width: 40rem) {
    details,
    summary {
        font-size: 1.19rem;
    }
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-article{
    width: 34em;
}


.article {
    border: 2px solid var(--subtle-border);
    border-radius: 0.5em;
    padding: 1rem;
    box-shadow: var(--subtle-shadow);
}

.article a {
    display: block;
}

.article h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

.article p {
    margin-bottom: 0;

    /* 4 line summary */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-topic {
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0 0.75rem;
    display: inline-block;
}

@media (min-width: 40em) {
    .article {
        padding: 1.5rem;
    }

    .article p {
        -webkit-line-clamp: 3;
}
@media screen and (min-width: 73rem) {
    .articles-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .article {
        flex: 1 1 20rem;
        padding: 1.5rem;
    }

    .article p {
        -webkit-line-clamp: 5;
    }
}
}
/* Artwork random */
.artwork-random {
    --s: min(25vw, 10rem);
    --p: calc(var(--s) / 2);
    background-image: linear-gradient(45deg, var(--c1, var(--purple)) 25%, transparent 25%),
        linear-gradient(-45deg, var(--c1, var(--purple)) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--c2, var(--dark-grey)) 75%),
        linear-gradient(-45deg, transparent 75%, var(--c2, var(--dark-grey)) 75%);
    background-size: var(--s) var(--s);
    background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1),
        calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
    animation: move-artwork 25s linear infinite;
}
@keyframes move-artwork {
    0% {
        background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1),
            calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
    }
    100% {
        background-position: calc(var(--p) * 1) calc(var(--p) * 4), calc(var(--p) * -1) calc(var(--p) * 5),
            calc(var(--p) * 1) calc(var(--p) * 3), calc(var(--p) * -1) calc(var(--p) * 4);
    }
}

.breadcrumb {
    display: flex;
    margin: 1rem 0;
}

.breadcrumb-item {
    display: inline-block;
    position: relative;
    margin-left: 0.6rem;
    padding-left: 1rem;
    font-size: 0.875rem;
}

.breadcrumb-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3px;
    width: 8px;
    height: 8px;
    margin: auto 0;
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: var(--grey);
}

.breadcrumb-item:first-child {
    margin-left: 0;
    padding-left: 0;
}

.breadcrumb-item:first-child:before {
    content: none;
    display: none;
}

.breadcrumb-link,
.breadcrumb-link:visited {
    font-size: inherit;
    color: var(--text-color);
}

/* Back-link */
.back-link,
.back-link:visited {
    font-size: 0.875rem;
    color: var(--text-color);
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    padding-left: 0.8rem;
}

.back-link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3px;
    width: 8px;
    height: 8px;
    margin: auto 0;
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: var(--grey);
}

.back-link:hover,
.breadcrumb-link:hover {
    color: var(--text-color);
}

@media (min-width: 40rem) {
    .breadcrumb {
        margin-top: 2rem;
    }

    .back-link,
    .breadcrumb-item {
        font-size: 1rem;
    }
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    padding: 0.5em 0.75em;
    position: relative;
    border-radius: 0.5rem;
}

button:focus {
    color: var(--link-focus-color);
    background-color: var(--link-focus-bg-color);
    text-decoration: none;
    outline: 3px solid var(--link-focus-color);
}

button[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
}

.primary-button {
    background-color: var(--light-blue);
    color: var(--white);
    box-shadow: 0 2px 0 var(--blue);
}

.primary-button:hover {
    background-color: #1962a3;
}

.secondary-button {
    color: var(--black);
    background-color: var(--light-grey);
    box-shadow: 0 2px 0 #929191;
}

.secondary-button:hover {
    filter: invert(0.075);
}

.warning-button {
    color: var(--white);
    background-color: var(--red);
    box-shadow: 0 2px 0 #55150b;
}

.warning-button:hover {
    background-color: #aa2a16;
}

.filter-button {
    color: var(--filter-button-color);
    border: 1.5px solid var(--filter-button-color);
    background: none;
    box-shadow: 0.1em 0.1em 0 var(--filter-button-color);
    transform: translate(-0.1em, -0.1em);
    transition: transform 0.2s, box-shadow 0.2s;
    width: auto;
    border-radius: 0.4rem;
    padding: 0.5em 0.75em;
    display: block;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.filter input[type=checkbox]{
    opacity: 0;
}

.filter input[type=checkbox]:checked + .filter-button {
    box-shadow: 0 0 0 var(--filter-button-color);
    transform: translate(0, 0);
    background-color: var(--filter-button-color);
    color: var(--background-color);
}

.filter-button:hover {
    box-shadow: 0 0 0 var(--filter-button-color);
    transform: translate(0, 0);
}

.filter-button-active {
    box-shadow: 0 0 0 var(--filter-button-color);
    transform: translate(0, 0);
    background-color: var(--filter-button-color);
    color: var(--background-color);
}

.menu-button {
    width: auto;
    color: var(--text-color);
    background: none;
    border: 3px solid var(--text-color);
}

.menu-button:focus {
    outline: 0;
    border: 3px dashed var(--text-color);
}

.menu-button:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 9px 5px 0 5px;
    border-top-color: inherit;
    margin-left: 0.5em;
}

.menu-button-opened:after {
    transform: rotateX(180deg);
}

@media (min-width: 40rem) {
    button:not(.filter-button) {
        font-size: 1.19rem;
    }

    button {
        width: auto;
    }
}

.visually-hidden {
    position: relative;
    top: 28px;
    bottom:28px;
    z-index: -1231321231;
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}
.filter-menu {
    display: none;
}

.filter-menu-button {
    margin-top: 1rem;
}

.filter-menu li {
    display: inline-block;
    margin: 0 0.25rem 0.5rem 0;
    height: 1rem;}

.menu-button-opened + .filter-menu {
    display: block;
}

@media screen and (min-width: 40rem) {
    .filter-menu {
        opacity: 0.8;
        transition: opacity 0.5s;
        position: sticky;
        top: 2.5rem;
    }

    .filter-container:hover .filter-menu,
    .filter-container:focus-within .filter-menu {
        opacity: 1;
    }

    .filter-menu {
        display: block;
    }

    .filter-menu-button {
        display: none;
    }
}

[value="AI"]:checked ~ .articles .article:not([data-category~="AI"]),
[value="data"]:checked ~ .articles .article:not([data-category~="Data"]),
[value="jQuery"]:checked ~ .articles .article:not([data-category~="jQuery"]),
[value="WordPress"]:checked ~ .articles .article:not([data-category~="WordPress"]),
[value="Slider"]:checked ~ .articles .article:not([data-category~="Slider"]),
[value="fullPage.js"]:checked ~ .articles .article:not([data-category~="fullPage.js"]) {
  display: none;
}

.main-footer {
    --background-color: var(--light-grey);
    background-color: var(--background-color);
}

.footer-container {
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-image {
    width: 10rem;
    margin: 0.3rem;
}

@media (min-width: 40rem) {
    .main-footer {
        margin-top: 2rem;
    }

    .footer-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer-image {
        width: 12rem;
    }
}

.main-header {
    background-color: var(--background-color);
    z-index: 2;
    box-shadow: var(--subtle-shadow);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
}

.header-logo-link {
    display: inline-block;
    padding: 0.5rem 0;
}

.header-nav-item {
    position: relative;
}

.header-nav-item-active {
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.2em;
}

.header-nav-link,
.header-nav-link:visited {
    font-weight: 600;
    color: var(--nav-link-color, var(--link-color));
    text-decoration: none;
}

.header-nav-link:hover {
    color: var(--nav-link-color, var(--link-hover-color));
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.2em;
}

@media screen and (min-width: 40rem) {
    .header-logo {
        width: 20rem;
    }
    .menu-button {
        font-size: 1.19rem;
    }
}

@media screen and (max-width: 72.999rem) {
    .header-logo-link {
        width: 70%;
        flex-basis: 60%;
    }

    .header-nav {
        display: none;
    }

    .header-nav-item {
        padding-top: 2rem;
    }

    .menu-button-opened + .header-nav {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 73rem) {
    .nav-button {
        display: none;
    }

    .header-nav {
        display: grid;
    }

    .header-nav > ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 0;
    }
}

.hero-big,
.hero-small,
.hero-artwork {
    display: grid;
    place-items: center;
    margin-top: -4.5rem;
    position: relative;
    overflow: hidden;
    --text-color: var(--white);
    background-color: var(--grey);
}

.hero-big {
    height: min(100vh, 70rem);
}

.hero-small {
    height: min(75vh, 40rem);
}

.hero-artwork {
    height: min(75vh, 40rem);
    background-color: var(--black-2);
}

.hero-big::after,
.hero-small::after,
.hero-artwork::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 3rem 0 0;
    background: radial-gradient(rgba(0, 0, 0, 0.65) 30%, rgb(0 0 0 / 20%));
}

.hero-img {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
}

.hero-content {
    z-index: 1;
}

.hero-content .heading-xl {
    margin-bottom: 1rem;
}

input[type='text'] {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.25rem;
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    background-color: var(--background-color);
}

input[type='text']:focus {
    outline: 3px solid var(--link-focus-color);
}

.form-error {
    padding-left: 1rem;
    border-left: 0.4rem solid var(--red);
}

.error-message {
    color: var(--red);
    font-weight: 700;
}

.form-error input[type='text'] {
    border-color: var(--red);
}

@media (min-width: 40rem) {
    input {
        font-size: 1.19rem;
    }
}

.width-container {
    width: 100%;
    max-width: 75rem;
    padding: 1.5rem;
    margin: 0 auto;
}

@media (min-width: 40rem) {
    .grid-row {
        display: grid;
        grid-gap: 1rem;
    }

    .grid-2-1 {
        grid-template-columns: 2fr 1fr;
    }

    .grid-1-2 {
        /* dev? */
        grid-template-columns: 0.8fr 2fr;
    }

    .grid-1-1-1 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .column-middle {
        max-width: 75ch;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 73rem) {
    .width-container {
        width: calc(100% - 1rem);
    }
}

a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-thickness: 0.075em;
    text-underline-offset: 0.15em;
}

a:hover {
    text-decoration-thickness: 0.2em;
    color: var(--link-hover-color);
}

a:visited {
    color: var(--purple);
}

a:focus {
    background-color: var(--link-focus-bg-color);
    text-decoration: none;
    border: none;
    outline: 3px solid var(--link-focus-color);
    outline-offset: 3px;
}

#active{
    text-decoration: underline;
    text-decoration-thickness: 0.075em;

}

@media (min-width: 40rem) {
    a {
        font-size: 1.19rem;
    }
}

.skip-to-content-link {
    position: absolute;
    top: 0.5rem;
    left: -100rem;
    padding: 0.5rem;
    z-index: -1;
}

.skip-to-content-link:focus {
    left: 0.5rem;
    z-index: 10;
    /* background-color: var(--link-focus-color); */
    background-color: var(--link-focus-bg-color);
    color: var(--link-focus-color);
}

.sub-nav-item {
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}

.sub-nav-link {
    font-size: 0.875rem;
    text-decoration: none;
}

.sub-nav-link:visited {
    color: var(--link-color);
}

.sub-nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.2em;
}

@media (min-width: 40rem) {
    .sub-nav-link {
        font-size: 1rem;
    }
}
