backend:
	name: github
	repo: responsibleIT/Responsible-it
	branch: main
	base_url: http://213.108.108.83
	locales: [nl, en]
	default_locale: nl

	accept_roles: #optional - accepts all users if left out
		- admin
		- editor
media_folder: "static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads
collections:
	- name: "community" # Used in routes, e.g., /admin/collections/blog
		label: "Community" # Used in the UI
		folder: "content/dutch/community" # The path to the folder where the documents are stored
		create: true # Allow users to create new documents in this collection
		slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
		format: 'frontmatter'
		sort: "date:desc" # Default is title:asc
		fields: # The fields for each document, usually in front matter
			- {label: "Title", name: "title", widget: "string"}
			- {label: "Draft", name: "draft", widget: "boolean", default: true}
			- {label: "Date", name: "date", widget: "datetime"}
			- {label: "Tags", name: "tags", widget: "list"}
			- {label: "Body", name: "body", widget: "markdown"}
	- name: "nieuws-publicaties" # Used in routes, e.g., /admin/collections/blog
		label: "Niews en publicaties" # Used in the UI
		folder: "content/dutch/nieuws-publicaties" # The path to the folder where the documents are stored
		create: true # Allow users to create new documents in this collection
		slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
		format: 'frontmatter'
		sort: "date:desc" # Default is title:asc
		fields: # The fields for each document, usually in front matter
			- {label: "Title", name: "title", widget: "string"}
			- {label: "Draft", name: "draft", widget: "boolean", default: true}
			- {label: "Date", name: "date", widget: "datetime"}
			- {label: "Tags", name: "tags", widget: "list"}
			- {label: "Body", name: "body", widget: "markdown"}
	- name: "projecten" # Used in routes, e.g., /admin/collections/blog
		label: "Projecten" # Used in the UI
		folder: "content/dutch/projecten" # The path to the folder where the documents are stored
		create: true # Allow users to create new documents in this collection
		slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
		format: 'frontmatter'
		sort: "date:desc" # Default is title:asc
		fields: # The fields for each document, usually in front matter
			- {label: "Title", name: "title", widget: "string"}
			- {label: "Date", name: "date", widget: "datetime"}
			- {label: "Tags", name: "tags", widget: "select", options: [""], multiple: true }
			- {label: "Body", name: "body", widget: "markdown"}
	- name: "werkplaats" # Used in routes, e.g., /admin/collections/blog
		label: "Werkplaats" # Used in the UI
		folder: "content/dutch/werkplaats" # The path to the folder where the documents are stored
		create: true # Allow users to create new documents in this collection
		slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
		format: 'frontmatter'
		sort: "date:desc" # Default is title:asc
		fields: # The fields for each document, usually in front matter
			- {label: "Title", name: "title", widget: "string"}
			- {label: "Draft", name: "draft", widget: "boolean", default: true}
			- {label: "Date", name: "date", widget: "datetime"}
			- {label: "Category", name: "category", widget: "relation", collection: "blogcategories", searchFields: ["title"], valueField: "title", displayFields: ["title"], required: false}
			- {label: "Body", name: "body", widget: "markdown"}
