.articles-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main{
    padding-top: 0;
}

.content-article{
    width: 34em;
    max-width: 100%;
}

.intro{
    margin-top: -1.2em;
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: var(--orange);
    box-shadow:90em 0 0 0 var(--orange)
    ,60em 0 0 0 var(--orange)
    ,30em 0 0 0 var(--orange)
    ,0 0 0 0 var(--orange)
    ,-90em 0 0 0 var(--orange)
    ,-60em 0 0 0 var(--orange)
    ,-30em 0 0 0 var(--orange),
    5em 0 0 0 var(--orange)
    ,20em 0 0 0 var(--orange)
    ,10em 0 0 0 var(--orange)
    ,-10em 0 0 0 var(--orange)
    ,-20em 0 0 0 var(--orange)
    ,-5em 0 0 0 var(--orange);
    margin-bottom: 1rem;
    color: white;
}

@media (max-width: 73rem) {
    .intro {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: -1.5rem;
    }
}

  
.intro h1{
    color: white;
    font-weight: 800;
}


.article {
    border: 2px solid var(--subtle-border);
    border-radius: 0.5em;
    padding: 1rem;
    box-shadow: var(--subtle-shadow);
}

.article-title {
    padding-bottom: 0;
    margin-bottom: 0;
  
}


.article a {
    display: inline-block;
}

.article h2 {
    font-size: 1.25rem;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    color: (var(--light-blue));
}

.article p {
    margin-bottom: 0;

    /* 4 line summary */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-topic {
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0 0.75rem;
    display: inline-block;
    display: block;
}

@media (min-width: 40em) {
    .article {
        padding: 1.5rem;
    }

    .article p {
        -webkit-line-clamp: 3;
}
@media screen and (min-width: 73rem) {
    .articles-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .article {
        flex: 1 1 20rem;
        padding: 1.5rem;
    }

    .article p {
        -webkit-line-clamp: 5;
    }
}
}