.main-footer {
    --background-color: var(--light-grey);
    background-color: var(--background-color);
}

.footer-container {
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-image {
    width: 10rem;
    margin: 0.3rem;
}

@media (min-width: 40rem) {
    .main-footer {
        margin-top: 2rem;
    }

    .footer-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer-image {
        width: 12rem;
    }
}
