.hero-big,
.hero-small,
.hero-artwork {
    display: grid;
    place-items: center;
    margin-top: -4.5rem;
    position: relative;
    overflow: hidden;
    --text-color: var(--white);
    background-color: var(--grey);
}

.hero-big {
    height: min(100vh, 70rem);
}

.hero-small {
    height: min(75vh, 40rem);
}

.hero-artwork {
    height: min(75vh, 30rem);
    background-color: var(--black-2);
}

.hero-big::after,
.hero-small::after,
.hero-artwork::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 3rem 0 0;
    background: radial-gradient(rgba(0, 0, 0, 0.65) 30%, rgb(0 0 0 / 20%));
}

.hero-img {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
}

.hero-content {
    z-index: 1;
}

.hero-content .heading-xl {
    margin-bottom: 1rem;
}
