a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-thickness: 0.075em;
    text-underline-offset: 0.15em;
}

a:hover {
    text-decoration-thickness: 0.2em;
    color: var(--link-hover-color);
}

a:visited {
    color: var(--purple);
}

a:focus {
    background-color: var(--link-focus-bg-color);
    text-decoration: none;
    border: none;
    outline: 3px solid var(--link-focus-color);
    outline-offset: 3px;
}

@media (min-width: 40rem) {
    a {
        font-size: 1.19rem;
    }
}
