.triangle {
  /* width: 311.769145362px; (2√3)*h/3 */
  height: 200px;
  /* √3/2*w */
  width: 200px;
  display: flex;
  /* background-color: #0a0909; */
  background-color: var(--black);
  position: absolute;
  top: 600px;
  left: 0;
  align-items: center;
  clip-path: polygon(0 0, 0 100%, 92% 52%);

}

.triangle p {
  color: var(--white);
  font-size: 14px;
  max-width: 150px;
  padding-right: 32px;
  margin-left: 8px;
  padding-top: 32px;
}

/* 1536 */

@media only screen and (max-width: calc(97.25em * 1.1)) {
  .triangle {
    position: initial;
    padding-top: 1rem;
    height: 100px;
    width: 100px;
  }

  .triangle p {
    display: none;


  }
}