.sub-nav-item {
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}

.sub-nav-link {
    font-size: 0.875rem;
    text-decoration: none;
}

.sub-nav-link:visited {
    color: var(--link-color);
}

.sub-nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.2em;
}

@media (min-width: 40rem) {
    .sub-nav-link {
        font-size: 1rem;
    }
}
